/* Existing CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #5cdb95;
  height: 6.4rem;
  padding: 0 4.8rem 0 0;
  position: relative;
}

.header-img {
  width: 11rem;
  height: 6.4rem;
  margin-left: 1.5rem;
}

.navigation-list {
  list-style: none;
  display: flex;
  gap: 4.8rem;
}

.navigation-link:link,
.navigation-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #05386b;
  font-weight: 500;
  font-size: 2.8rem;
  transition: all 0.3s;
}

.navigation-link:hover,
.navigation-link:active {
  color: black;
}

.start-page {
  font-size: 8.8rem;
}

.greetings {
  height: 100vh;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.about {
  height: 110vh;
  padding: 2.4rem 0 4.8rem 2rem;
  background-color: #8ee4af;
}

.biography {
  font-size: 3.2rem;
  color: #edf5e1;
  margin: 0 auto;
}

.heading {
  margin-bottom: 0.8rem;
}

.adventure {
  display: flex;
}

.adventure-img {
  display: flex;
  gap: 1.6rem;
  margin-left: 2.4rem;
}

.adventure-img img {
  width: 25rem;
  height: 30rem;
  border-radius: 13%;
}

.auschwitz-img {
  display: flex;
  width: 25rem;
  height: 26rem;
  border-radius: 13%;
}

.info {
  font-size: 2.8rem;
  margin-bottom: 1.2rem;
}

.info-link:link,
.info-link:visited {
  color: #edf5e1;
}

.info-link:hover,
.info-link:active {
  color: #379683;
  text-decoration: underline;
  transition: all 0.3s;
}

.portfolio {
  height: 100vh;
}

.portfolio-img {
  display: flex;
  justify-content: center;
}

.title-portfolio {
  font-size: 6.4rem;
}

.portfolio-text {
  font-size: 4.8rem;
  display: flex;
  justify-content: center;
}

.copyright {
  background-color: silver;
  font-size: 1.2rem;
}
